
 <main>
    <div class="bg-gray-900 py-8">
      <div class="max-w-8xl mx-auto py-4 sm:px-6 lg:px-8">
        
        <div class="px-10 lg:grid lg:grid-cols-1 lg:gap-12 lg:items-center">
          <div>   
            <div class=" flex item-center mx-auto shadow-lg w-600 p-4 flex flex-col bg-yellow-200 rounded-lg">
            <h1 class=" text-gray-700 font-bold my-4  text-xl text-center">編輯個人資料</h1>

              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
                <%# email %>

                <div class="flex grid grid-cols-1 gap-4 lg:grid-cols-2">
                    <div class=" bg-white mb-3 py-3 px-4 border border-gray-400  focus:outline-none rounded-md focus:ring-1 ring-cyan-500">
                      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"email", class:"focus:outline-none" %>
                    </div>

                  <%# 密碼 %>
                    <div class=" bg-white mb-3 py-3 px-4 border border-gray-400  focus:outline-none rounded-md focus:ring-1 ring-cyan-500">
                      <%=f.password_field :password, autocomplete: "new-password" ,placeholder:"請輸入六位數密碼", class:"focus:outline-none" %>
                    </div>
                </div>
                <%# 確認密碼 %>
                  <div class="mb-3 py-3 px-4 border border-gray-400  focus:outline-none rounded-md focus:ring-1 ring-cyan-500">
                    <%=f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder:"請再輸入六位數密碼", class:"focus:outline-none" %>
                  </div>
                  <%= f.submit "註冊", class:"actions w-full bg-green-700  text-white p-3 rounded-lg font-semibold text-lg" %>
              
              <% end %>
         
              <button class="w-full bg-yellow-400 my-4  p-3 rounded-lg font-semibold text-lg">
                  <%= link_to "已有帳號？登入請進", new_session_path(resource_name)%></button>
          </div>

        </div>  
      </div>
    </div>                 
  </main>

<!-- component -->
<div class=" items-center justify-center bg-gray-900">

        <div class=" bg-yellow-200 mx-30 my-2  shadow-md rounded px-4  ">
       
            <h1 class=" text-gray-700 font-bold my-4  text-xl text-center">編輯個人資料</h1>
          
            <div class=" flex space-x-4 items-center justify-center">
              <div class="mb-4 ">
    
                  <label class=" text-gray-700 text-sm font-bold " for="name">
                      姓名
                  </label>

                  <input
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      name="name" id="name" type="text" placeholder="請填入真實姓名" required>
              </div>
              
              <div class="mb-4">
  
                  <label class=" text-gray-700 text-sm font-bold mb-2 " for="name">
                      編號
                  </label>

                  <input
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      name="tel" id="tel" type="tel" placeholder="系統內建" required>
              </div>
            </div>

<!-- 密碼區 -->

            
            <div class="mb-4">
                <label class="text-gray-700 text-sm font-bold mb-2" for="name">
                    新密碼
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="email" id="email" type="email" placeholder="Ingresa tu correo" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    再次確認新密碼
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="email" id="email" type="email" placeholder="Ingresa tu correo" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    原始密碼
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="email" id="email" type="email" placeholder="Ingresa tu correo" required>
            </div>

<!-- 日期區 -->
<!-- 上傳圖片區（預留） -->


            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="Date">
                    Fecha
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    name="date" id="date" type="date" placeholder="Ingresa tu Fecha de Nacimiento" required>
            </div>

            <div class="mb-4">

                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    ¿Pregunta 01?
                </label>
                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="message1" id="message1" type="text" placeholder="Escríbe tu respuesta Aquí..."required></textarea>
            </div>

            <div class="mb-4">

                <label class="block text-gray-700 text-sm font-bold mb-2" for="name">
                    ¿Pregunta 02?
                </label>
                
                <textarea class="bshadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="message2" id="message2" type="text" placeholder="Escríbe tu respuesta Aquí..." required></textarea>
            </div>

            
            <div class="flex items-center justify-between">
                <button id="submit"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">
                    <i class="fab fa-whatsapp"></i> Enviar a WhatsApp
                </button>
            </div>

            <div class="mb-4">

 
        </div>
        
    </div>
    

    <script src="assets/js/helpers.js"></script>
    <script src="assets/js/whatsapp.js"></script>
</div>

<h2><%= t('.title', resource: resource.model_name.human) %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit t('.update') %>
  </div>
<% end %>

<h3><%= t('.cancel_my_account') %></h3>

<p><%= t('.unhappy') %> <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %></p>

<%= link_to t('devise.shared.links.back'), :back %>


